/*ACA VAN LOS LINKS A LAS PAGINAS CON LAS DEMOS*/
.contenedor-links-demo{
    @extend %contenedores-flex-columna;
    margin-left: 20px;
    background-color: rgb(226, 224, 224);
    border-radius: 10px;
    padding: 30px;
    width: 350px;
    list-style-image: url(../imagenes/vineta.png);
}

/*este va a contener la imagen y un recuadro con los links a las demos*/
.contenedor-demo{
    @extend %contenedores-flex-fila;
    justify-content: center;
    margin-top:20px;
}

/*links a las paginas de demos*/
.link-demos{
    color: nth($colores, 3);
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
    &:hover{
        color: nth($colores, 8);
        text-decoration: underline;
        font-weight: bold;
    }
}

.logo-demo{
    &:hover{
        opacity: 50%;
    }
}
